@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Lemonade.Web.Models.FeaturesModel>

@{
    Layout = "_Layout.cshtml";
}

@section headerScripts {
    <script src="scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="scripts/lemonade.js" type="text/javascript"></script>
}

@if (!RenderContext.Context.ModelValidationResult.IsValid)
{
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Oops..!</h3>
        </div>

        <ul class="list-group">
            @foreach (var errors in RenderContext.Context.ModelValidationResult.Errors)
            {
                foreach (var error in errors.Value)
                {
                    <li class="panel-body list-group-item">@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

<div class="col-md-4">
    <div class="well">
        <h2>Applications</h2>
        <hr />

        <ul class="list-group">
            @for (int i = 0; i < Model.Applications.Count; i++)
            {
                var application = Model.Applications[i];

                <li class="application list-group-item">
                    <a href="@Url.Content(string.Format("/feature?applicationId={0}", application.Id))">@application.Name</a>
                </li>
            }
        </ul>

        <hr />

        <form id="add-application-form" action="application" method="post">
            <div class="input-group">
                <input type="text" name="name" class="form-control" placeholder="Application name...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-md" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="col-md-8" id="application-form">
    @if (Model.ApplicationId == 0)
    {
        <i>Nothing to see here - select a feature on the left</i>
    }
    else
    {
        <form action="/feature/" method="post" id="addFeatureForm"></form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Feature Name</th>
                    <th>Start Date</th>
                    <th>Expiration Days</th>
                    <th>Enabled</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Features.Count; i++)
                {
                    var feature = Model.Features[i];

                    <tr class="feature">
                        <td>
                            <div class="hide" name="applicationId">@feature.ApplicationId</div>
                            @feature.Name
                        </td>
                        <td>@feature.StartDate</td>
                        <td>@feature.ExpirationDays</td>
                        <td>@feature.IsEnabled</td>
                    </tr>
                }

                <tr>
                    <td>
                        <input name="applicationId" type="hidden" value="@Model.ApplicationId" form="addFeatureForm" /><input name="name" class="input-sm" form="addFeatureForm" />
                    </td>
                    <td><input name="startDate" class="input-sm" type="date" form="addFeatureForm" /></td>
                    <td><input name="expirationDays" class="input-sm" form="addFeatureForm" /></td>
                    <td><input name="isEnabled" type="checkbox" form="addFeatureForm" /></td>
                </tr>

                <tr />

                <tr>
                    <td />
                    <td />
                    <td />
                    <td colspan="4">
                        <button type="submit" class="btn btn-primary" id="add-feature-button" form="addFeatureForm">
                            <span><i class="glyphicon glyphicon-plus"></i> Add new feature</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

@section bodyScripts {
    <script type="text/javascript">
        var hub = $.connection.lemonadeHub;

        hub.client.addApplication = function (application) {
            console.log(application);
        };

        $.connection.hub.start();
    </script>
}