@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Lemonade.Web.Models.FeaturesModel>

@{
    Layout = "_Layout.cshtml";
}

@section headerScripts {
    <script src="scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="scripts/lemonade.js" type="text/javascript"></script>
}

<div class="panel panel-danger hide">
    <div class="panel-heading">
        <h3 class="panel-title">Oops..!</h3>
    </div>

    <ul class="list-group">
        <!-- <li class="panel-body list-group-item">Ooops</li>-->
    </ul>
</div>

<div class="col-md-4">
    <div class="well">
        <h2>Applications</h2>
        <hr />

        <ul class="list-group" id="application-list">
            @for (int i = 0; i < Model.Applications.Count; i++)
            {
                var application = Model.Applications[i];

                <li class="application list-group-item">
                    <a href="@Url.Content(string.Format("/features?applicationId={0}", application.Id))">@application.Name</a>
                    <span data-applicationId="@application.Id" class="delete-application-button glyphicon glyphicon-remove btn btn-xs pull-right btn-danger"></span>
                </li>
            }
        </ul>

        <hr />

        <div class="input-group">
            <input type="text" name="name" id="applicationName" class="form-control" placeholder="Application name...">
            <span class="input-group-btn"><button class="btn btn-default btn-md" id="add-application-button">Add</button></span>
        </div>
    </div>
</div>

<div class="col-md-8" id="application-form">
    @if (Model.ApplicationId == 0)
    {
        <i>Nothing to see here - select a feature on the left</i>
    }
    else
    {
        <form action="/feature/" method="post" id="addFeatureForm"></form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Feature Name</th>
                    <th>Start Date</th>
                    <th>Expiration Days</th>
                    <th>Enabled</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Features.Count; i++)
                {
                    var feature = Model.Features[i];

                    <tr class="feature">
                        <td>
                            <div class="hide" name="applicationId">@feature.ApplicationId</div>
                            @feature.Name
                        </td>
                        <td>@feature.StartDate</td>
                        <td>@feature.ExpirationDays</td>
                        <td>@feature.IsEnabled</td>
                    </tr>
                }

                <tr>
                    <td>
                        <input name="applicationId" type="hidden" value="@Model.ApplicationId" form="addFeatureForm" /><input name="name" class="input-sm" form="addFeatureForm" />
                    </td>
                    <td><input name="startDate" class="input-sm" type="date" form="addFeatureForm" /></td>
                    <td><input name="expirationDays" class="input-sm" form="addFeatureForm" /></td>
                    <td><input name="isEnabled" type="checkbox" form="addFeatureForm" /></td>
                </tr>

                <tr />

                <tr>
                    <td />
                    <td />
                    <td />
                    <td colspan="4">
                        <button type="submit" class="btn btn-primary" id="add-feature-button" form="addFeatureForm">
                            <span><i class="glyphicon glyphicon-plus"></i> Add new feature</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

@section bodyScripts {
    <script type="text/javascript">
        $(document).on("click", ".delete-application-button", function () {
            var id = $(this).attr("data-applicationId");
            $.ajax({ url: 'api/application?id=' + id, type: 'DELETE' });
        });

        $(document).on("click", "#add-application-button", function () {
            $.post("api/application", { Name: $("#applicationName").val() });
        });

        $.connection.lemonadeHub.client = new Lemonade({
            applications: {
                add: function (application) {
                    $("#applicationName").val("");
                    $("<li class='application list-group-item'>")
                        .hide()
                        .append("<a href='/features?applicationId=" + application.ApplicationId + "'>" + application.Name + "</a>")
                        .append("<span data-applicationId='" + application.ApplicationId + "' class='delete-application-button glyphicon glyphicon-remove btn btn-xs pull-right btn-danger'></span>")
                        .appendTo("#application-list")
                        .slideDown();
                },
                remove: function (application) {
                    $(".delete-application-button[data-applicationId=" + application.ApplicationId + "]").parents("li").slideUp();
                }
            }
        });

        $.connection.hub.start();
    </script>
}